body{
	background-color: lightblue;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmffS35kkiAktnEZsTgs6WxueVJyrW0JefIQ&s);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: 90% 90%;
	background-attachment: scroll;
}
p{
	font-size: 0.9in;
	color: yellow;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmffS35kkiAktnEZsTgs6WxueVJyrW0JefIQ&s);
	background-size: cover;
	text-align: center;
}
#d1{
	width: 500px;
	height: 500px;
	background-image: url(https://m.media-amazon.com/images/I/71+17bVYHxL._AC_UF1000,1000_QL80_.jpg);
	background-size: cover;
	border: 30px ridge pink;
}
#d2{
	width: 400px;
	height: 400px;
	border: 30px solid;
	margin: 50px;
	border-image: linear-gradient(rgb(0, 29, 252),rgb(255, 251, 0)) 30;
}
#img1{
	width: 800px;
	border: 30px double rgb(84, 201, 247);
	margin-bottom: 50px;
}
#img2{
	width: 50%;
	display: block;
	margin: auto;
	border-radius: 50%;
	box-shadow: 10px -10px 50px hotpink;
}