body{
	background-color: lightskyblue;
}
p{
	font-size: 48px;
	color: navy;
}
.p1{
	color: rgb(0, 0, 128);
	background-color: lightskyblue;
}
.p2{
	font-family: sans-serif;
}
.p3{
	font-family: Georgia, Times, "Times New Roman",  serif;
}
.p4{
	 font-family: "Lucida Console", Courier, monospace;
}
.p5{
	font-family: cursive;
}
.p6{
	font-family: fantasy;
}
.p7{
	font-family: "Rubik Glitch", system-ui;
	text-shadow: 2px 2px violet;
}
.p8{
font-family: "Rubik Moonrocks", sans-serif;
text-shadow: 2px -2px orange;
}
.p9{
	font-family: "Rubik Glitch Pop", system-ui;
	text-shadow: 2px -2px orange, 4px -4px fuchsia;
}
.p10{
	font-family: "Rubik Bubbles", system-ui;
	text-shadow: 2px -2px 10px orange;
}
.p11{
	font-family: "Lobster", sans-serif;
	text-shadow: 0 0 15px teal;
}
.p12{
	font-weight: 700;
}
.p13{
	font-style: italic;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-style: wavy;
	text-decoration-color: blue;
}
.p14{
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-style: dashed;
	text-decoration-color: green;
}
.s1{
	font-size: 2em;
	color: blueviolet;
	font-family: "Rubik Moonrocks", sans-serif;
	text-shadow: 0 0 5px fuchsia;
}